<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="GMap.NET.Windows" version="1.9.3" targetFramework="net45" />
  <package id="JSON" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json.Akshay" version="5.0.4" targetFramework="net45" />
  <package id="NuGet.Client" version="4.3.0-beta1-2418" targetFramework="net45" />
  <package id="NuGet.Common" version="4.3.1" targetFramework="net45" />
  <package id="NuGet.ContentModel" version="4.3.0-beta1-2418" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="4.3.1" targetFramework="net45" />
  <package id="NuGet.Packaging" version="4.3.1" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="4.3.1" targetFramework="net45" />
  <package id="NuGet.Repositories" version="4.3.0-beta1-2418" targetFramework="net45" />
  <package id="NuGet.RuntimeModel" version="4.3.0-beta1-2418" targetFramework="net45" />
  <package id="NuGet.Versioning" version="4.3.1" targetFramework="net45" />
  <package id="NuGet.VisualStudio" version="4.7.0-preview1-4986" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net45" />
</packages>